.resume {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: larger;
  align-items: center;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.infos {
  padding-left: 10px;
  display: flex;
  gap: 10px;
}

.title {
  
  font-size: x-large;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: center;
  font-weight: bolder;
  font-size: larger;
}