.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
}

.header {
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  white-space: nowrap;
}

.fc .fc-timegrid-slot{
  height: 8em;
  cursor: pointer;
}